/* = Games
================================================*/
.games-scroller {
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
	overflow-y: hidden;
}
.games {
	&-list {
		@extend .reset-list;
		white-space: nowrap;
	}
	&-item {
		display: inline-block;
		margin-right: 14px;

		@include respond-to(mobile) {
			margin-right: 7px;
		}

		&:last-child {
			margin-right: 0;
		}
	}
	&-link {
		display: block;
		text-decoration: none;
	}
	&-img {
		@include respond-to(mobile) {
			height: 88px;
		}
		@include respond-to(mobile-landscape) {
			height: 120px;
		}
	}
}