/* = Loading overlay
================================================*/
.loading {
	.loading-overlay {
		display: block;
	}
}
.init-screen {
	overflow: hidden;
	height: 100%;

	.base {
		opacity: 0;
	}
}
.base {
	opacity: 1;
	transition: opacity .5s ease;
}
.loading-overlay {
	display: none;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	animation: zoomOut .5s ease 2.5s forwards;
}
@keyframes zoomOut {
	0% {
		opacity: 1;
	}
	50% {
		transform: scale3d(.3, .3, .3);
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

/* = Loading page
================================================*/
.loading-page {
	position: relative;
	min-height: 100%;
	height: auto!important;
	overflow: hidden;
}
.loading-screen-holder {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* = Loading screen
================================================*/
.loading-screen {
	background: url('../images/skywind-spr.jpg') no-repeat 502px 0;
	background-size: 29618px 320px;
	height: 320px;
	width: 502px;
	animation: loading-screen-animation 2.5s steps(60, end) .2s backwards,
			   loading-screen-animation-end 0s 2.7s forwards;

	@include respond-to(mobile){
		background: url('../images/skywind-mob-spr.jpg') no-repeat 280px 0;
		background-position: 280px 0;
		background-size: 16520px 178px;
		height: 178px;
		width: 280px;
		animation: loading-screen-animation-mob 2.5s steps(60, end) .2s backwards,
					loading-screen-animation-end-mob 0s 2.7s forwards;
	}
}
@keyframes loading-screen-animation {
	to {
		background-position: -29618px 0;
	}
}
@keyframes loading-screen-animation-end {
	to {
		background-position: -29116px 0;
	}
}
@keyframes loading-screen-animation-mob {
	to {
		background-position: -16520px 0;
	}
}
@keyframes loading-screen-animation-end-mob {
	to {
		background-position: -16240px 0;
	}
}

/* = Progress bar
================================================*/
.progress-bar {
	margin: 20px auto 0;
	width: 210px;
	padding: 2px;
	border-radius: 4px;
	background-color: rgba(0,0,0,.16);
	box-shadow: inset 0 0 8px rgba(0,0,0,.08);
	overflow: hidden;

	@include respond-to(mobile){
		width: 128px;
		margin-top: 10px;
	}

	/* progress bar holder */
	&-holder {
		height: 4px;
		border-radius: 2px;
		background-color: #98c82b;
		box-shadow: 0 0 11px rgba(173,236,31,.16), inset 0 0 5px rgba(255,255,255,.86);
	}

	/* progress bar fill */
	&-fill {
		height: 4px;
		border-radius: 2px;
		box-shadow: 0 0 2px rgba(255,255,138,.5);
		position: relative;
		overflow: hidden;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 20px;
			height: 4px;
			border-radius: 2px;
			background-image: linear-gradient(to left, #fcfcfc, rgba(252,252,252,.92) 19%, rgba(253,255,111,.8) 48%, rgba(214,255,105,0));
		}
	}
}